

<td>{{id}} </td>
<td>{{itemname}} </td>
<td>{{custunitvalue}} </td>
<td>{{id_email}} </td>
<td>{{amazonunitvalue}} </td>
<td>{{quantity}} </td>
<td>{{totalcustvalue}} </td>
<td>{{totalamazonvalue}} </td>
<td><img src="{{image}}" alt="" class="responsive-img"></td>
